body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16;
    font-weight: 400,500;
    color: #2b283a;
}



/* typography */

h1,h3{
    margin: 0;
}

h1{
    font-size: 36px;
    color: whitesmoke;
}

h2{
    margin-top: 0;
}

h3 {
    font-size: 20px;
    color: #d0aaff;
}

p {
    line-height: 23px;
}



/* links  */

a{
    color:ef5839;
    text-decoration: underline dotted;
}

a:hover, a:active {
    color: #d4b44c;
}


.btn-reg {
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

.btn-dark{
    background-color: #5f29a3;
    color: whitesmoke;
}

.btn-mid{
    background-color: #f0e0ff;
    color: #5f29a3;
}

.btn-light{
    background-color: whitesmoke;
    color: #5f29a3;
}

.btn-reg:hover,
.btn-reg:active{
    background-color: #f3e885;
    color: #2b283a;
}

/* layout */

header, 
section, 
footer{
    padding: 45px 0;
}

header, .section-two{
    background-color: #5f29a3;
}

.section-two{
    color: whitesmoke;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.section-two-images-container{
    display: flex;
    justify-content: space-between;
}

footer{
    text-align: center;
    color: #5f29a3;
}





/* images */

.main-image{
    width: 100%;
}

.feature-image{
    width: 300px;
    border-radius: 4.6px;
}

